/* gerneral */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* from css-tricks.com*/
    /* 100% of the viewport height */
    /* to adjust footer at end of page */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

img,
video {
	max-width: 100%;
}

.container {
    padding: 20px;
    /* from css-tricks.com*/
    /* Prevent Chrome, Opera, and Safari from letting these items
     shrink to smaller than their content's default minimum size. */
    /* to adjust footer at end of page */
    flex: 1 0 auto;
}

.text_center {
	text-align: center;
}

.section_padding {
	padding: 20px 0;
}

.btn {
    padding: 14px 0;
    /* to set width relative to parent width 
        to get width of all buttons equal */
    Width: 15em;
    margin-bottom: 30px;
    font-size: 16px;
    cursor: pointer;
}

.default_btn {
    border: 1px solid #02b3e4;
    background-color: #02b3e4;
    color: #fff;
    
}

.secondary_btn {
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
}

.control_btn {
    padding: 15px 20px;
    margin-right: 20px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    border-radius: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


/* footer */
.footer {
    /* from css-tricks.com*/
    /* Prevent Chrome, Opera, and Safari from letting these items
     shrink to smaller than their content's default minimum size. */
    /* to adjust footer at end of page */
    flex-shrink: 0;
}


/* start page */
.start_page {
    display: flex;
    max-width: 400px; /* to force 2 buttons to wrap*/
    flex-wrap: wrap; /* to get elements wrap you should add max-width to parent */
    justify-content: center;
    margin: 0 auto;
}


/* top quiz panel */
.top_Quiz_panel {
    display: flex;
    flex-wrap: wrap;
}

.question_num {
    width: 100%;
    margin-bottom: 20px;
}

.score_section {
    width: 100%;
}


/* quiz container */
.quiz_container {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#question {
    width: 100%;
    margin-bottom: 15px;
}

.choice_container {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #eee;
}

.choice_container .choice_prefix {
    width: 15%;
    padding: 10px;
    text-align: center;
    background-color: #02b3e4;
    color: #fff;
}

.choice_container .choice_text {
    width: 85%;
    padding: 10px;
}